
body {
	margin: 0px;
	padding: 100px 0px 2px 0px;
	line-height: 1.3em;
	font-size: 12px;
}

#left, #right, span.asGroovy {
	width: 0px;
	height: 0px;
  display: none;
	visibility:hidden;
}

#bodyColumn {
	margin-right: 1.5em;
	margin-left: 0px; /*was: 197*/
}


table.bodyTable td {
	vertical-align: text-top;
}

table.bodyTable th {
	vertical-align: text-top;
	text-align:center;
}

