html { 
/*  padding:0px;
  margin:0px; */
}


a { 
 color: #4183c4; 
 background-color:transparent;
 text-decoration: none; 
}

#content a:hover {
 text-decoration: underline;
}

.example {
  width: 90%;
  font-style: italic;
}


div.source {
 margin-top: 1em;
}

div.breaking {
   border: 1px solid #F44; 
   background-color: #FED; 
   padding-left: 1ex; 
   padding-right: 1ex;
}

.longline {
  overflow: scroll;
}

.source, .command, .console { 
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  background: #f5f5f5;
  font-family: Courier, "MS Courier New", Prestige, monospace;
  padding-left: 1ex;
  white-space: pre;
}

.source {
  padding-bottom: 0.5ex;
  padding-top: 0.5ex;
}

.command {
  padding-bottom: 0ex;
  padding-top: 0ex;
}

.console {
}

pre { 
 padding: 0px;
 margin: 0px; 
 background-color:transparent;
 font-family: Courier, Monaco, Monospace;
}

.alignright {
 margin-top: 0; 
 text-align: right;
 font-size: 10px;
}


h1, h2, h3, h4 {
  color: #505050;
  padding-top: 0ex; 
  background-color: transparent;
}

h2 {
  font-weight: 900;
  font-size: x-large;
}

h3 {
  font-weight: bold;
  font-size: large;
}

h4 {
  font-weight: bold;
  font-size: medium;
}

table.footer {
  width: 100%;
}

.footer {
  color: #564b47;
  background-color: #fff;
  padding:0px;
  border-top:  1px solid #CCCCCC;
  margin-top: 3ex;
	font-size: smaller;
}


p.menu {
 padding-top: 0px;
 padding-bottom: 0px; 
 margin-top: 0px;
 margin-bottom: 0px;
}

.small { 
	font-size: smaller;
}

.strong, .bold { 
  /*font-size: 13px;*/
  font-weight: bold;
}

/* ========== body table ============ */
table.bodyTable {
	padding: 0px;
	margin-left: -2px;
	margin-right: -2px;
}

table.bodyTable th {
	color: white;
	background-color: #bbb;
	font-weight: bold;
}


table.bodyTable td {
  vertical-align: text-top;
  padding-left: 0.5ex;
  padding-bottom: 0.5ex;
}


/* apply to tr elements of tables which are both bodytable and dark */
table[class="bodyTable dark"] tr {
	background-color: #ddd;
}

/* apply to tr elements of tables which are both bodytable and dark */
table[class="bodyTable properties"] tr {
	vertical-align: top;
}

/* table.bodyTable tr.a { 	background-color: #ddd; } */
/* table.bodyTable tr.b {	background-color: #eee; } */
/* table.bodyTable tr.alt {	background-color: #eee;} */

/* we don't want the first p under td to appear indented */
table.bodyTable tr td p:first-child {
  padding-top: 0px;
  margin-top: 0px;
}

.striped tr:nth-child(odd) td {
  background-color: #f9f9f9;
}
.striped td {
  background-color: #f0f0f0;
}
.striped tr:last-child td {
  border-bottom: 1px solid #ddd;
}

td.word {
  text-align: right;
}

/* EOF =============== bodyTable =============== */

.author {
	text-align: left;
	font-weight: bold;
}

.definition {
	padding-left: 5px;
	padding-right: 5px;
	margin: 5px 50px 5px 50px;
	text-align: justify;
	background-color: #E6E64C;
}

.deftitle {
	font-weight: bold;
}


.big {
  font-size: 130%;
}


.green {
	color: green;
}

.white_bg {
	background-color: #FFFFFF;
}

.lgray_bg {
	background-color: #EEE;
}

.blue {
	color: blue;	
}

.red {
	color: red;
}

.redBold {
	color: red;
	font-weight: bold;	
}

.greenBold {
	color: green;	
  font-weight: bold;	
}

.code {
	font-family: Courier, monospace;
 	color: #666;	
}

.variable {
	font-family: Courier, monospace;
  font-style:italic;  
}



.attr {
	font-family: Courier, monospace;
  font-style:italic; 

}

.option, .prop {
  border-top: 1px dotted #BBBBBB;
  border-bottom: 1px dotted #BBBBBB;
  border-left: 1px dotted #AAAAAA;
  border-right: 1px dotted #AAAAAA;
  padding-left: 2px;
  padding-right: 2px;
  font-family: Arial, sans-serif;
}

/*  background:#FFCC99;	*/
.highlight {
  width: 18em;
  float: right;	
  display: inline;
  font-size: 110%;

  border: 2px solid #711;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background:#FFE0B0;	
  padding-top: 1ex;
  padding-left: 1ex;
  padding-right: 1ex;
  padding-bottom: 1ex;
  margin-left: 1em;
  margin-right: 0em;
  margin-bottom: 1ex;
}

.quote {
   text-align: right;
  padding-left: 12em;
}

/* --------- numbering --------- */
.autoEx:before {
  counter-increment: example;  /* Add 1 to example */
  content: counter(example)
}

/** ----------- labels -------- */
.label {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #bfbfbf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.label.notice {
  background-color: #62cffc;
}
