html { 
/*  padding:0px;
  margin:0px; */
}


a { 
 color: #0000CC;
 background-color:transparent;
 text-decoration: none; 
}

#content a:hover {
 text-decoration: underline;
}

.example {
  width: 90%;
  font-style: italic;
}


div.source {
 margin-top: 1em;
}

.longline {
  overflow: scroll;
}

.source, .command, .console { 
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  background: #eee;
  font-family: Courier, "MS Courier New", Prestige, monospace;
  padding-left: 1ex;
  white-space: pre;
}

.source {
  padding-bottom: 0.5ex;
  padding-top: 0.5ex;
}

.command {
  padding-bottom: 0ex;
  padding-top: 0ex;
}

.console {
}

pre { 
 padding: 0px;
 margin: 0px; 
 background-color:transparent;
 font-family: Courier, Monaco, Monospace;
}

.alignright {
 margin-top: 0; 
 text-align: right;
 font-size: 10px;
}


h1, h2, h3, h4 {
  color: #333;
  padding-top: 0ex; 
  background-color: transparent;
}

h2 {
  font-weight: 900;
  font-size: x-large;
}

h3 {
  font-weight: bold;
  font-size: large;
}

h4 {
  font-weight: bold;
  font-size: medium;
}

table.footer {
  width: 100%;
}

.footer {
  color: #564b47;
  background-color: #fff;
  padding:0px;
  border-top:  1px solid #CCCCCC;
  margin-top: 3ex;
	font-size: smaller;
}


p.menu {
 padding-top: 0px;
 padding-bottom: 0px; 
 margin-top: 0px;
 margin-bottom: 0px;
}

.small { 
	font-size: smaller;
}

.strong, .bold { 
  /*font-size: 13px;*/
  font-weight: bold;
}

/* ========== body table ============ */
table.bodyTable {
	padding: 0px;
	margin-left: -2px;
	margin-right: -2px;
}

table.bodyTable th {
	color: white;
	background-color: #bbb;
	font-weight: bold;
}


table.bodyTable td {
  vertical-align: text-top;
  padding-left: 0.5ex;
  padding-bottom: 0.5ex;
}


/* apply to tr elements of tables which are both bodytable and dark */
table[class="bodyTable dark"] tr {
	background-color: #ddd;
}

/* apply to tr elements of tables which are both bodytable and dark */
table[class="bodyTable properties"] tr {
	vertical-align: top;
}

table.bodyTable tr.a {
	background-color: #ddd;
}

table.bodyTable tr.b {
	background-color: #eee;
}

table.bodyTable tr.alt {
	background-color: #eee;
}

/* we don't want the first p under td to appear indented */
table.bodyTable tr td p:first-child {
  padding-top: 0px;
  margin-top: 0px;
}

/* EOF =============== bodyTable =============== */

.author {
	text-align: left;
	font-weight: bold;
}

.definition {
	padding-left: 5px;
	padding-right: 5px;
	margin: 5px 50px 5px 50px;
	text-align: justify;
	background-color: #E6E64C;
}

.deftitle {
	font-weight: bold;
}


.big {
  font-size: 130%;
}


.green {
	color: green;
}

.white_bg {
	background-color: #FFFFFF;
}

.lgray_bg {
	background-color: #EEE;
}


.blue {
	color: blue;	
}

.red {
	color: red;
}

.redBold {
	color: red;
	font-weight: bold;	
}

.greenBold {
	color: green;	
  font-weight: bold;	
}

.code {
	font-family: Courier, monospace;
 	color: #666;	
}

.variable {
	font-family: Courier, monospace;
  font-style:italic;  
}



.attr {
	font-family: Courier, monospace;
  font-style:italic; 

}

.option {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  border-left: 1px dotted black;
  border-right: 1px dotted black;
  padding-left: 2px;
  padding-right: 2px;
  font-family: Arial, sans-serif;
}

.highlight {
  width: 300px;
  float: right;	
  display: inline;
  font-weight: bolder;
  border:1px solid #000;
  background:#FFCC99;	
  padding-top: 0px;
  padding-left: 1ex;
  padding-right: 1ex;
  margin-left: 3em;
  margin-right: 3em;
}

.quote {
   text-align: right;
  padding-left: 12em;
}

/* --------- numbering --------- */
.autoEx:before {
  counter-increment: example;  /* Add 1 to example */
  content: counter(example)
}