html { 
/*  padding:0px;
  margin:0px; */
}

body {
  background-color: #fff;
  font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
  color: #000;  
  padding: 0px;
  margin: 0px;
  counter-reset: example;  /* Create an example counter scope */
}

.footer {
  color: #564b47;
  background-color: #fff;
  padding:0px;
  border-top:  1px solid #CCCCCC;
  margin-top: 3ex;
	font-size: smaller;
}

#job img {
   border:1px solid #DDDDDD;
}

#job:hover img {
   border:1px solid #8888EE;
}

p.menu {
 padding-top: 0px;
 padding-bottom: 0px; 
 margin-top: 0px;
 margin-bottom: 0px;
 font-size: smaller;
}


#leftOld {
  position: absolute;
  font-size: 80%;
  left: 0px;
  width: 15em;
  color: #564b47;
  margin: 4px 0px 0px 4px; 
  padding: 0px;
  border: 1px solid #cccccc;
  background-color: #fff8e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#left {
  position: absolute;
  left: 0px;
  width: 15em;
  margin: 4px 0px 0px 4px; 
  padding: 0px;
  font-size: 80%;
  background-color: #ffffff;
}

.menuGroup {
  border: 1px solid #cccccc;  
  background-color: #fff8e8;
  color: #564b47;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#left a, #right a {
  display: block; 
  width: 95.5%; 
  margin: 0px; 
  padding: 2px; 
  border: solid 1px #fff8e8; 
  color: #0066cc; 
  text-decoration: none;
}

p.menu_header {
  margin: 0px; 
  padding: 2px;
  font-weight: normal; 
  background-color: #ffd0a0; 
  border-top: solid 1px #CCCCCC;
  border-bottom: solid 1px #CCCCCC;
}

#left a:hover, #right a:hover {
  border: solid 1px #FFFFFF; 
  background-color: #3333CC; 
  color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#left div.jobadd {
  font-size: 140%;
  color: #fff;
  margin: 0px;
  padding: 0px;

  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  background-image: -ms-linear-gradient(bottom right, #FFBB55 0%, #FF8822 100%);
  background-image: -moz-linear-gradient(bottom right, #FFBB55 0%, #FF8822 100%);
  background-image: -o-linear-gradient(bottom right, #FFBB55 0%, #FF8822 100%);
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFBB55), color-stop(1, #FF8822));
  background-image: -webkit-linear-gradient(bottom right, #FFBB55 0%, #FF8822 100%);
  background-image: linear-gradient(to top left, #FFBB55 0%, #FF8822 100%);
}

#left div.jobadd a, div.jobadd a:hover {
  background-color: transparent;
  color: #fff;
  border-width: 0px;	
}

/* ------------------------------------------- */

#right {
  position: absolute;
  right: 0px;        
  width: 12em;
  color: #564b47;
  margin: 4px 4px 0px 0px; 
  padding: 0px;
  background-color: #ffffff;    
  border: 1px solid #cccccc;
  font-size: 80%;
}

#left img {
	display: block;
	margin: 20px 0 20px 17px;
	border: none;
	width: 90px;
	height: 30px;
}

#headerLine {
  background-color:#FFD0A0;
  border:1px solid #CCCCCC;
  font-size:small;
  margin:0 4px;
  padding:3px 10px;
}

#content {
  min-width:50em;
  margin: 0px 15em 0px 15em;
  padding: 0px;
  background-color: #ffffff;  
  line-height: 130%;
}

#content img {
	border:none;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

span.asGroovy {
   background: #fff; 
   color: #0079C5;   
   font-family: "Comic Sans MS", sans-serif;
   white-space: nowrap;
   font-size: 80%;

   border-top:    2px solid #DDD;  
   border-left:   2px solid #DDD;  
   border-right:  2px solid #888;  
   border-bottom: 2px solid #888;    
   padding: 0px 1em 0px 1em;
   margin:  -4px 4px 0 4px; 
   float: right;
}
 
span.asGroovy:hover {
   background: #E0E0EF;
   cursor: pointer;
}

/* ------------------------------------ */

.anchor { display:none; }

h1 .anchor:before {content:url(anchor24.png);}
h2 .anchor:before {content:url(anchor20.png);}
h3 .anchor:before {content:url(anchor16.png);}
h4 .anchor:before {content:url(anchor12.png);}
td .anchor:before {content:url(anchor12.png);}

h1:hover .anchor { margin-left: -24px; }
h2:hover .anchor { margin-left: -20px; }
h3:hover .anchor { margin-left: -16px; }
h4:hover .anchor { margin-left: -12px; }
td:hover .anchor { margin-left: -12px; }

h1:hover .anchor, 
h2:hover .anchor,  
h3:hover .anchor, 
h4:hover .anchor,
td:hover .anchor {
  display: inline-block;
  text-decoration: none;
}


