.settings
target
.classpath
.factorypath
.project
.idea
*~
*.iml
*.ipr
*.iws
logback-classic/jdbc:hsqldb:mem:test.log
logback-classic/jdbc:hsqldb:mem:test.properties
logback-classic/jdbc:hsqldb:mem:test.script
cobertura.ser
# ignore files with pound characters
\#*\#