Redirect permanent /jmxConfig.html http://logback.qos.ch/manual/jmxConfig.html
Redirect permanent /joran.html http://logback.qos.ch/manual/onJoran.html
Redirect permanent /consolePlugin.html http://logback.qos.ch/beagle/