<configuration>

  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.html.HTMLLayout">
      <cssBuilder class="ch.qos.logback.core.helpers.CssBuilder">
      	<param name="url" value="path_to_StyleFile.css" />
      </cssBuilder>	
      <param name="Pattern"
        value="%-4relative [%thread] %-5level - %msg%n" />
    </layout>
  </appender>

  <root>
    <level value="debug" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>

