<configuration>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<File>testFile.log</File>
		<Append>true</Append>
		
		<layout>
			<Pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</layout>
	</appender>
	
	<root level="debug">
		<appender-ref ref="FILE" />
	</root>
</configuration>