<configuration>

  <appender name="STDOUT"
    class="ch.qos.logback.classic.net.SyslogAppender">
    <SyslogHost>pixie</SyslogHost>
    <Facility>AUTH</Facility>
    <SuffixPattern>%-4relative [%thread] %-5level - %msg %n</SuffixPattern>
  </appender>

  <root>
    <level value="debug" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>

