<configuration>
   <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
   <File>logFile.log</File>
   <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
     <FileNamePattern>logFile.%d{yyyy-MM-dd}.log</FileNamePattern>
     <!-- keep 30 days worth of history -->
     <MaxHistory>30</MaxHistory> 
   </rollingPolicy>

   <layout>
     <Pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
   </layout>
 </appender> 

 <root level="debug">
   <appender-ref ref="FILE" />
 </root>
</configuration>