<configuration>

  <appender name="SMTP"
    class="ch.qos.logback.classic.net.SMTPAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <param name="pattern"
        value="%-4relative [%thread] %-5level %class - %msg%n" />
    </layout>
    <param name="From" value="test.nospam@qos.ch" />
    <param name="SMTPHost" value="mail.qos.ch" />
    
    <param name="Subject" value="Last Event: %-10logger %nopex" />
    
    <param name="To" value="sebastien@qos.ch" />
  </appender>

  <root>
    <level value="debug" />
    <appender-ref ref="SMTP" />
  </root>
</configuration>

