<configuration>

  <appender name="SMTP"
    class="ch.qos.logback.classic.net.SMTPAppender">
    <layout class="ch.qos.logback.classic.html.HTMLLayout">
      <param name="pattern" value="%relative%thread%mdc%level%class%msg" />
      <throwableRenderer class="ch.qos.logback.classic.html.DefaultThrowableRenderer" />      
    </layout>
    <param name="From" value="test.nospam@qos.ch" />
    <param name="SMTPHost" value="mail.qos.ch" />
    <param name="Subject" value="LastEvent: %class - %msg %nopex" />
    
    <param name="To" value="sebastien@qos.ch" />
  </appender>

  <root>
    <level value="debug" />
    <appender-ref ref="SMTP" />
  </root>
</configuration>

