<configuration>
   <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
   <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
     <param name="ActiveFileName" value="outputFile.log" />
     <param name="FileNamePattern" value="logFile.%d{yyyy-MM-dd}.log" />
   </rollingPolicy>

   <layout class="ch.qos.logback.classic.PatternLayout">
     <param name="pattern" value="%-4relative [%thread] %-5level %class - %msg%n" />
   </layout>
 </appender> 

 <root>
   <level value="debug" />
   <appender-ref ref="FILE" />
 </root>
</configuration>