<configuration>

  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <param name="Pattern"
        value="TEST %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
    </layout>
  </appender>

  <root>
    <level value="ERROR" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>