/*
 * Logback CSS Theme for Maven 2, from LB-Skin
 *
*/
body {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	line-height: 1.3em;
	font-size: small;
}

img {
	border: none;
}

acronym {
	cursor: help;
	border-bottom: 1px dotted #feb;
}

div.clear {
	clear: both;
	visibility: hidden;
}

div.clear hr {
	display: none;
}

body,td,select,input,li {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 13px;
}

code {
	font-family: Courier, monospace;
	font-size: 13px;
}

a {
	text-decoration: none;
}

a:link {
	color: navy;
	/*color:#36a;*/
}

a:visited { /*color:#47a;*/
	color: navy;
}

a:active,a:hover { /*color:#69c;*/
	color: navy;
	text-decoration: underline;
}

#legend li.externalLink {
	background: url(../images/external.png) left top no-repeat;
	padding-left: 18px;
}

a.externalLink,a.externalLink:link,a.externalLink:visited,a.externalLink:active,a.externalLink:hover
	{
	background: url(../images/external.png) right center no-repeat;
	padding-right: 18px;
}

#legend li.newWindow {
	background: url(../images/newwindow.png) left top no-repeat;
	padding-left: 18px;
}

a.newWindow,a.newWindow:link,a.newWindow:visited,a.newWindow:active,a.newWindow:hover
	{
	background: url(../images/newwindow.png) right center no-repeat;
	padding-right: 18px;
}

h2 {
	padding: 2px 2px 1px 0px;
	border: 0px solid #999;
	color: navy;
	/*background-color: #ddd;*/ /*background-color: rgb(144,223,144);*/
	background-color: white;
	font-weight: 900;
	font-size: x-large;
}

h3 {
	padding: 2px 2px 2px 0px;
	border: 0px solid #aaa;
	/*color: #900;*/
	color: navy;
	/*background-color: #eee;*/
	background-color: white;
	font-weight: normal;
	font-size: large;
}

h4 {
	padding: 2px 2px 2px 0px;
	border: 0px solid #bbb;
	/*color: #900;*/
	color: navy;
	background-color: white;
	font-weight: normal;
	font-size: large;
}

h5 {
	padding: 2px 2px 2px 3px;
	color: #900;
	font-size: normal;
}

/*p {
	line-height: 1.3em;
	font-size: small;
}*/

#bannerLeft,#bannerRight {
	font-size: xx-large;
	font-weight: bold;
}

#bannerLeft img,#bannerRight img {
	margin: 0px;
}

.xleft,#bannerLeft img {
	float: left;
	text-shadow: #7CFC00;
}

.xright,#bannerRight img {
	float: right;
	text-shadow: #7CFC00;
}

#breadcrumbs {
	padding: 3px 10px 3px 10px;
	font-size: small;
	border: 1px solid #663300;
	/*border-bottom: 1px solid #aaa;
  /* background-color: #ccc; lime;
  border-color: #663300;*/
	background-color: #ffd0a0;
	max-width: 77em;
}

#leftColumn {
	margin: 10px 0 0 5px;
	border: 1px solid #999;
	/*background-color: #eee;*/ /*background-color: rgb(144,223,144);*/
	background-color: #ddd;
	width: 16em; /* was: 170/190 */
	float: left;
	overflow: auto;
}

#navcolumn h5 {
	margin: 0;
	font-size: small;
	border-bottom: 1px solid #aaaaaa;
	padding-top: 2px;
	color: #000;
}

#bodyColumn {
	max-width: 60em;
	margin-right: 1.5em;
	margin-left: 223px; /*was: 197*/
}

#legend {
	padding: 8px 0 8px 0;
}

#navcolumn ul {
	padding: 8px 4px 0 8px;
	margin: 5px;
	padding: 0;
	font-size: medium;
	/*font-weight:bold;*/
}

#navcolumn li {
	line-height: 150%;
	list-style-type: none;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 0 0.4em;
	padding-left: 16px;
	list-style-position: outside;
	font-size: smaller;
	/*background: #EEEEEE;
  padding-left: 2ex;
  border-top:   0px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
  border-bottom:1px solid #AAAAAA;
  border-left:  1px solid #AAAAAA;  */
}

#navcolumn img {
	margin-top: 10px;
	margin-bottom: 3px;
}

#lastPublished {
	font-size: x-small;
}

strong {
	color: navy;
	text-decoration: underline;
	font-weight: bold
}

table {
	padding: 0px;
	width: 100%;
	margin-left: -2px;
	margin-right: -2px;
}

table.bodyTable th {
	color: white;
	background-color: #bbb;
	text-align: left;
	font-weight: bold;
}

table.bodyTable th,table.bodyTable td {
	font-size: 1em;
}

table.bodyTable tr.a {
	background-color: #ddd;
}

table.bodyTable tr.b {
	background-color: #eee;
}

.source {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  background:#eee;
  font-family: Courier, "MS Courier New", Prestige, Everson Monocourrier, monospace;
  padding-bottom: 0.5ex;
  padding-top: 0.5ex;
  padding-left: 1ex;
  /*white-space: pre;*/
}

.source pre {
	margin: 0px;
	padding: 0px;
}

.navSectionHead {
	font-weight: bold;
	font-size: x-small;
}

.section {
	padding: 4px;
}

#footer {
	padding: 3px 10px 3px 10px;
	font-size: x-small;
}

dl {
	padding: 4px 4px 4px 6px;
	border: 1px solid #aaa;
	background-color: #ffc;
}

dt {
	color: #900;
}

#organizationLogo img,#projectLogo img,#projectLogo span {
	margin: 8px;
}

#banner {
	padding: 0px;
	border-bottom: 1px solid #fff;
}

#banner img {
	border: none;
}

#poweredBy {
	text-align: center;
}

#poweredBy img {
	display: block;
	margin: 20px 0 20px 17px;
	border: none;
	width: 90px;
	height: 30px;
}

.errormark,.warningmark,.donemark,.infomark {
	background: url(../images/icon_error_sml.gif) no-repeat;
}

.warningmark {
	background-image: url(../images/icon_warning_sml.gif);
}

.donemark {
	background-image: url(../images/icon_success_sml.gif);
}

.infomark {
	background-image: url(../images/icon_info_sml.gif);
}

/*

 Logback documentation styles

*/
.author {
	text-align: left;
	font-weight: bold;
}

.definition {
	padding-left: 5px;
	padding-right: 5px;
	margin: 5px 50px 5px 50px;
	text-align: justify;
	background-color: #E6E64C;
}

.deftitle {
	font-weight: bold;
}

.green {
	color: green;	
}
.blue {
	color: blue;	
}

.redBold {
	color: red;
	font-weight: bold;	
}
.greenBold {
	color: green;	
  font-weight: bold;	
}