/*
	Print css.
*/
body {
	margin: 0px;
	padding: 0px 0px 2px 0px;
}


#leftColumn {
	width: 0px;
	height: 0px;
	visibility:hidden;
}

#bodyColumn {
	max-width: 100%;
	margin-right: 1.5em;
	margin-left: 0px; /*was: 197*/
}