<!--
  ~ Logback: the reliable, generic, fast and flexible logging framework.
  ~ Copyright (C) 1999-2026, QOS.ch. All rights reserved.
  ~
  ~ This program and the accompanying materials are dual-licensed under
  ~ either the terms of the Eclipse Public License v2.0 as published by
  ~ the Eclipse Foundation
  ~
  ~   or (per the licensee's choosing)
  ~
  ~ under the terms of the GNU Lesser General Public License version 2.1
  ~ as published by the Free Software Foundation.
  -->

<configuration debug="true">

  <conversionRule conversionWord="htmlEscapedMessage"
                  converterClass="ch.qos.logback.classic.issue.lbclassic180.HtmlEscapedMessageConverter"/>

  <appender name="CON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.html.HTMLLayout">
        <pattern>%d{HH:mm:ss.SSS}%logger{1}%htmlEscapedMessage</pattern>
      </layout>
    </encoder>
  </appender>
  <root level="DEBUG">
    <appender-ref ref="CON"/>
  </root>
</configuration>