<configuration>

  <appender name="SYSLOG"
    class="ch.qos.logback.classic.net.SyslogAppender">
    <SyslogHost>${syslogHost}</SyslogHost>
    <Facility>${facility}</Facility>
    <SuffixPattern>%-4relative [%thread] %-5level - %msg</SuffixPattern>
  </appender>
	
	<root level="DEBUG">
		<appender-ref ref="SYSLOG" />
	</root>
</configuration>

