<configuration>
   <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
   
   <!-- Support multiple-JVMs writing to the same log file -->
   <Prudent>true</Prudent>
   <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
     <FileNamePattern>logFile.%d{yyyy-MM-dd}.log</FileNamePattern>
     <MaxHistory>30</MaxHistory> 
   </rollingPolicy>

   <layout class="ch.qos.logback.classic.PatternLayout">
     <Pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
   </layout>
  </appender> 

  <root level="debug">
    <appender-ref ref="FILE" />
  </root>
</configuration>