table { 
	margin-left: 2em; 
	margin-right: 2em; 
	border-left: 2px solid #AAA; 
}

TR.even { 
	background: #FFFFFF; 
}

TR.odd { 
	background: #EAEAEA; 
}

TR.warn TD.Level, TR.error TD.Level, TR.fatal TD.Level {
	font-weight: bold; 
	color: #FF4040 
}

TD { 
	padding-right: 1ex; 
	padding-left: 1ex; 
	border-right: 2px solid #AAA;
}

TD.Time, TD.Date { 
	text-align: right; 
	font-family: courier, monospace; 
	font-size: smaller; 
}

TD.Thread {
	text-align: left; 
}
	
TD.Level { 
	text-align: right; 
}
	
TD.Logger { 
	text-align: left; 
}

TR.header { 
	background: #596ED5; 
	color: #FFF; 
	font-weight: bold; 
	font-size: larger; 
}

TD.Exception { 
	background: #A2AEE8; 
	font-family: courier, monospace;
}
