/*
 * Print css. 
 *
*/
body {
	margin: 0px;
	padding: 0px 0px 2px 0px;
	line-height: 1.3em;
	font-size: 12px;
}

#left, #right {
	width: 0px;
	height: 0px;
	visibility:hidden;
}

#bodyColumn {
	margin-right: 1.5em;
	margin-left: 0px; /*was: 197*/
}

pre {
 white-space: pre-wrap; /* css-3 */
 white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
 white-space: -pre-wrap; /* Opera 4-6 */
 white-space: -o-pre-wrap; /* Opera 7 */
 word-wrap: break-word; /* Internet Explorer 5.5+ */
}

table.bodyTable td {
	vertical-align: text-top;
}

table.bodyTable th {
	vertical-align: text-top;
	text-align:center;
}