<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Logback: the reliable, generic, fast and flexible logging framework.
  ~ Copyright (C) 1999-2024, QOS.ch. All rights reserved.
  ~
  ~ This program and the accompanying materials are dual-licensed under
  ~ either the terms of the Eclipse Public License v1.0 as published by
  ~ the Eclipse Foundation
  ~
  ~   or (per the licensee's choosing)
  ~
  ~ under the terms of the GNU Lesser General Public License version 2.1
  ~ as published by the Free Software Foundation.
  -->

<!DOCTYPE configuration>

<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.rolling.RollingFileAppender"/>
    <import class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy"/>

    <variable name="outputPath" value=""/>e

    <appender name="ROLLING" class="RollingFileAppender">
        <rollingPolicy class="SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${outputPath}/mylog-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>90</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="ROLLING"/>
    </root>
</configuration>